@font-face {
    font-family: TrebuchetMS;
    src: local("TrebuchetMS-Normal"),local("TrebuchetMS-Normal"),
    url('../fonts/Trebuchet/TrebuchetMS-Normal.ttf') format("truetype"),
    url('../fonts/Trebuchet/TrebuchetMS-Normal.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: TrebuchetMS;
    src: local("TrebuchetMS-Bold"),local("TrebuchetMS-Bold"),
    url('../fonts/Trebuchet/TrebuchetMS-Bold.ttf') format("truetype"),
    url('../fonts/Trebuchet/TrebuchetMS-Bold.woff');
    font-weight: bold;
    font-style: normal;
}