.text-left      { text-align: left; }
.text-right     { text-align: right; }
.text-center    { text-align: center; }
.text-just      { text-align: justify; }

.align-top      { vertical-align: top;}
.align-bottom   { vertical-align: bottom;}
.align-middle   { vertical-align: middle;}
.align-baseline { vertical-align: baseline; }

.hidden {display: none !important;visibility: hidden;}
.invisible {visibility: hidden;}

.ma {margin-left:auto;margin-right: auto;}
.p0 {padding: 0;}

.pt0 {padding-top: 0;}
.pb0 {padding-bottom: 0;}
.pl0 {padding-left: 0;}
.pr0 {padding-right: 0;}
.mt0 {margin-top: 0;}
.mb0 {margin-bottom: 0;}
.ml0 {margin-left: 0;}
.mr0 {margin-right: 0;}

.mt10 {margin-top: 1rem;}
.mt20 {margin-top: 2rem;}
.mt30 {margin-top: 3rem;}
.mt40 {margin-top: 4rem;}
.mt50 {margin-top: 5rem;}
.mt60 {margin-top: 6rem;}
.mt70 {margin-top: 7rem;}
.mt80 {margin-top: 8rem;}
.mt90 {margin-top: 9rem;}

.mb10 {margin-bottom: 1rem;}
.mb20 {margin-bottom: 2rem;}
.mb30 {margin-bottom: 3rem;}
.mb40 {margin-bottom: 4rem;}
.mb50 {margin-bottom: 5rem;}
.mb60 {margin-bottom: 6rem;}
.mb70 {margin-bottom: 7rem;}
.mb80 {margin-bottom: 8rem;}
.mb90 {margin-bottom: 9rem;}

.ml10 {margin-left: 1rem;}
.ml20 {margin-left: 2rem;}
.ml30 {margin-left: 3rem;}
.ml40 {margin-left: 4rem;}
.ml50 {margin-left: 5rem;}
.ml60 {margin-left: 6rem;}
.ml70 {margin-left: 7rem;}
.ml80 {margin-left: 8rem;}
.ml90 {margin-left: 9rem;}

.mr10 {margin-right: 1rem;}
.mr20 {margin-right: 2rem;}
.mr30 {margin-right: 3rem;}
.mr40 {margin-right: 4rem;}
.mr50 {margin-right: 5rem;}
.mr60 {margin-right: 6rem;}
.mr70 {margin-right: 7rem;}
.mr80 {margin-right: 8rem;}
.mr90 {margin-right: 9rem;}

.pt10 {padding-top: 1rem;}
.pt20 {padding-top: 2rem;}
.pt30 {padding-top: 3rem;}
.pt40 {padding-top: 4rem;}
.pt50 {padding-top: 5rem;}
.pt60 {padding-top: 6rem;}
.pt70 {padding-top: 7rem;}
.pt80 {padding-top: 8rem;}
.pt90 {padding-top: 9rem;}

.pb10 {padding-bottom: 1rem;}
.pb20 {padding-bottom: 2rem;}
.pb30 {padding-bottom: 3rem;}
.pb40 {padding-bottom: 4rem;}
.pb50 {padding-bottom: 5rem;}
.pb60 {padding-bottom: 6rem;}
.pb70 {padding-bottom: 7rem;}
.pb80 {padding-bottom: 8rem;}
.pb90 {padding-bottom: 9rem;}

.pl10 {padding-left: 1rem;}
.pl20 {padding-left: 2rem;}
.pl30 {padding-left: 3rem;}
.pl40 {padding-left: 4rem;}
.pl50 {padding-left: 5rem;}
.pl60 {padding-left: 6rem;}
.pl70 {padding-left: 7rem;}
.pl80 {padding-left: 8rem;}
.pl90 {padding-left: 9rem;}

.pr10 {padding-right: 1rem;}
.pr20 {padding-right: 2rem;}
.pr30 {padding-right: 3rem;}
.pr40 {padding-right: 4rem;}
.pr50 {padding-right: 5rem;}
.pr60 {padding-right: 6rem;}
.pr70 {padding-right: 7rem;}
.pr80 {padding-right: 8rem;}
.pr90 {padding-right: 9rem;}