:root {
    font-size: 10px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
    min-height: 100%;
}
.black-pattern {
    background: url('../img/backgrounds/funbox_pattern.jpg') repeat;
}
.black-gradient {
    position: relative;
    &::after,
    &::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        height: 50%;
    }
    &::after {
        top: auto;
        bottom: 0;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, .85) 100%);
    }
    &::before {
        top: 0;
        bottom: auto;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, .85) 100%);
    }
}
