$rem-baseline: 16px !default;

// Grid Bootstrap
$grid-columns:               12 !default;
$grid-gutter-width-base:     30px !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1280px
) !default;

// Fonts
$Exo: 'Exo 2', sans-serif;
$TrebuchetMS: 'TrebuchetMS', sans-serif;

// Color global
$c-base: #ffffff;
$bgc-base: #ffffff;

$color-1: #ffffff;
$color-2: #000000;
$color-3: #666666;
$color-4: #ffff66;
$color-5: #1698d6;
$color-6: #d91667;
$color-7: #b3b3b3;
$color-8: #f2f2f2;