.b_main {
    .row.black-gradient {
        height: 100%;
        min-height: 100vh;
        align-items: center;
    }
}

.no-flexboxlegacy {
    .b_main {
        .row.black-gradient {
            display: table;
            table-layout: fixed;
            width: calc(100% + 30px);
            > div {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
            }
        }
    }
}