.b_offer-item {
    position: relative;
    height: auto;
    min-height: 100%;
    width: auto;
    flex: 0 1 auto;
    max-width: 32rem;
    padding: 0;
    margin: 0 4rem 2rem 4rem;
    text-align: left;
    font-family: $TrebuchetMS;
    font-weight: normal;
    cursor: pointer;
    header {
        position: relative;
        margin-bottom: 4.2rem;
    }
    ._inner {
        width: 100%;
        width: 32rem;
        height: calc(100% - 4.6rem);
        position: relative;
        border-radius: 1rem;
        border-top: 0;
        background-color: $color-8;
        background: linear-gradient(135deg, transparent 30px, $color-8 0);
        &::before {
            content: '';
            width: 32.8rem;
            height: calc(100% + 0.8rem);
            z-index: -1;
            border-radius: 1rem;
            position: absolute;
            top: -0.4rem;
            left: -0.4rem;
            background-color: $color-5;
            background: linear-gradient(135deg, transparent 31px, $color-5 0);
        }
    }
    ._overflow {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-around;
    }
    ._slogan {
        padding-left: 4.5rem;
        font-size: 1.6rem;
        color: $color-3;
        font-family: $TrebuchetMS;
        font-weight: normal;
        padding-top: 2rem;
        margin: 0 auto;
    }
    ._title {
        padding-left: 4.5rem;
        font-family: $TrebuchetMS;
        font-weight: bold;
        color: $color-2;
        font-size: 4.8rem;
        line-height: 1;
        padding-top: 1rem;
        margin: 0 auto;
    }
    ._sub-title {
        padding-left: 4.5rem;
        font-family: $TrebuchetMS;
        font-weight: bold;
        color: $color-2;
        font-size: 2.4rem;
        line-height: 1;
        padding-top: .5rem;
        margin: 0 auto;
    }
    ._dop {
        padding-left: 4.5rem;
        font-size: 1.4rem;
        color: $color-3;
        font-family: $TrebuchetMS;
        font-weight: normal;
        padding-top: 1rem;
    }
    ._img {
        width: 32rem;
        flex-basis: auto;
        padding-top: 0;
        height: 27rem;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: left -3rem top;
        background-size: 38rem;
        border-radius: 1rem;
    }
    ._weight {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        display: inline-block;
        vertical-align: middle;
        height: 8rem;
        min-width: 8rem;
        color: $color-1;
        border-radius: 50%;
        background-color: $color-5;
        text-align: center;
        font-size: 4.2rem;
        line-height: 1;
        padding: 1rem;
        span {
            font-size: 2.1rem;
            display: block;
        }
    }
    footer {
        padding: 1.5rem 0;
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.6rem;
        font-weight: normal;
        color: $c-base;
        a {
            color: $color-5;
            font-size: 1.3rem;
            line-height: 1.6rem;
            font-weight: bold;
            text-decoration: none;
            border-bottom: 1px dashed $color-5;
            &:hover {
                text-decoration: none;
                border: none;
            }
        }
    }
    ._active-div {
        display: block;
    }
    ._noactive-div {
        display: none;
    }
    &.is-active {
        ._inner {
            &::before {
                background-color: $color-6;
                background: linear-gradient(135deg, transparent 31px, $color-6 0);
            }
        }
        ._weight {
            background-color: $color-6;
        }
        ._active-div {
            display: none;
        }
        ._noactive-div {
            display: block;
        }
        ._slogan {
            color: $color-6;
        }
    }
    &.is-disable {
        cursor: default;
        header,
        ._img {
            opacity: .5;
        }
        ._inner {
            &::before {
                background-color: $color-7;
                background: linear-gradient(135deg, transparent 31px, $color-7 0);
            }
        }
        ._weight {
            background-color: $color-7;
        }
        footer {
            color: $color-4;
        }
        header {
            ._active-div {
                display: block;
            }
            ._noactive-div {
                display: none;
            }
        }
        ._active-div {
            display: none;
        }
        ._noactive-div {
            display: block;
        }
    }
}