.b_offers {
    padding: 4.5rem 2.5rem;
    position: relative;
    z-index: 1;
    text-align: center;
    h1 {
        margin: 0 auto;
        margin-bottom: 3rem;
        font-family: $Exo;
        font-weight: 100;
        color: $c-base;
        font-size: 3.6rem;
        line-height: 1;
    }
    ._list {
        justify-content: space-between;
    }
    @media (max-width: 1279px) {
        ._list {
            justify-content: center;
        }
    }
}