head
  title Nym
  meta(http-equiv='content-language' content='ru')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  link(href="https://fonts.googleapis.com/css?family=Exo+2:100", rel="stylesheet")
  link(rel='stylesheet', href='assets/css/style.min.css')
  
  script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
  script window.Modernizr || document.write('<script src="js/vendor/modernize-2.8.3.min.js"><\/script>')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')