main.b_main
  .black-pattern.container-fluid
    section.row.black-gradient
      .col-12
        .container
          section.b_offers
            header
              h1 Ты сегодня покормил кота?
            ._list.row
              article.b_offer-item.col
                ._inner
                  ._overflow
                    header
                      h3._slogan._active-div Сказочное заморское яство
                      h3._slogan._noactive-div Котэ не одобряет?
                      h2._title Нямушка
                      h4._sub-title с фуа-гра
                      ._dop 
                        <b> 10 </b>
                        | порций <br> мышь в подарок
                    ._img(style="background-image:url('assets/img/cats/funbox_cat.png')")
                  ._weight 
                    | 0,5
                    span кг
                footer 
                  ._active-div
                    | Чего сидишь? Порадуй котэ, 
                    a(href="javascript:void(0);") купи
                  ._noactive-div
                    | Печень утки разварная с артишоками.
              article.b_offer-item.col
                ._inner
                  ._overflow
                    header
                      h3._slogan._active-div Сказочное заморское яство
                      h3._slogan._noactive-div Котэ не одобряет?
                      h2._title Нямушка
                      h4._sub-title с рыбой
                      ._dop 
                        <b> 40 </b>
                        | порций <br> <b>2</b> мыши в подарок
                    ._img(style="background-image:url('assets/img/cats/funbox_cat.png')")
                  ._weight 
                    | 2
                    span кг
                footer 
                  ._active-div
                    | Чего сидишь? Порадуй котэ, 
                    a(href="javascript:void(0);") купи
                  ._noactive-div
                    | Головы щучьи с чесноком да свежайшая сёмгушка.
              article.b_offer-item.col.is-disable
                ._inner
                  ._overflow
                    header
                      h3._slogan._active-div Сказочное заморское яство
                      h3._slogan._noactive-div Котэ не одобряет?
                      h2._title Нямушка
                      h4._sub-title с курой
                      ._dop 
                        <b> 100 </b>
                        | порций <br> <b>5</b> мышей в подарок <br>
                        | заказчик доволен
                    ._img(style="background-image:url('assets/img/cats/funbox_cat.png')")
                  ._weight 
                    | 5
                    span кг
                footer 
                  ._active-div
                    | Чего сидишь? Порадуй котэ, 
                    a(href="javascript:void(0);") купи
                  ._noactive-div
                    | Печалька, с курой закончился
