doctype html
html.no-js(lang="ru")
	//- meta
	include assets/include/meta.pug 
	body
		//- header
		include assets/include/header.pug
		//- main
		include assets/include/mains/ui.pug
		//- footer
		include assets/include/footer.pug
		//- scripts
		include assets/include/scripts.pug